branches:
  - main
plugins:
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/release-notes-generator"
  - - "@semantic-release/npm"
    - npmPublish: false
  - - "@semantic-release/exec"
    - publishCmd: "npm ci && npm run build && npx chrome-webstore-upload-cli upload --source dist/extension.zip"
  - - "@semantic-release/git"
    - assets:
        - "package.json"
        - "package-lock.json"
  - - "@semantic-release/github"
    - assets:
        - path: "dist/extension.zip"
          label: "extension.zip"
options:
  debug: true
